

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />

		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
		<link href="../../../css/bootstrap-3.3.4.css" rel="stylesheet">
		<link href="../../../css/google-fonts.css" rel="stylesheet">
		<link href="../../../css/font-awesome.css" rel="stylesheet">
		<link href="../../../css/isotope.css" rel="stylesheet">
		<link href="../../../css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="../../../css/dataTables.bootstrap-1.10.13.css" />

		<script type="text/javascript" src="../../../js/jquery-3.0.0.js"></script>
		<script src="../../../js/jquery-ui.js"></script>
		<script type="text/javascript" src="../../../js/bootstrap-3.3.4.js"></script>
		<script language="JavaScript" src="../../../js/angular.min.js"></script>
		<script type="text/javascript" src="../../../js/jquery.dataTables-1.10.13.js"></script>
		<script type="text/javascript" src="../../../js/dataTables.bootstrap-1.10.13.js"></script></head>

<body class="navbar-top">
	<div class="modal-shiftfix">
    <!-- 菜单 -->
    <div class="navbar navbar-fixed-top scroll-hide">
    <div class="container-fluid top-bar">
        <div class="pull-right">
            <ul class="nav navbar-nav pull-right">
                <!-- <li class="dropdown notifications hidden-xs"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                        aria-hidden="true" class="se7en-flag"></span>

                    <div class="sr-only">Notifications</div>
                </a></li>
                <li class="dropdown messages hidden-xs"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                        aria-hidden="true" class="se7en-envelope"></span>

                    <div class="sr-only">Messages</div>
                </a></li> -->
                <li class="dropdown user hidden-xs"><a data-toggle="dropdown" class="dropdown-toggle" href="#"> <img
                        width="34" height="34" src="picture/2_avatar_middle.jpg">公司名称<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                       <!--  <li><a href="manage/avatar.jsp"><i class="icon-user"></i> 我的头像</a></li> -->
                        <li><a href="LoginServlet?method=logout"><i class="icon-signout"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="navbar-toggle">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a class="logo" href="#">weiboxs</a>
    </div>
    <div class="container-fluid main-nav clearfix">
        <div class="nav-collapse">
            <ul class="nav">
            
                <li class="">
                	<a href="ControlServlet?method=countAll" class=""> 
                		<span aria-hidden="true" class="se7en-home"></span>控制台
                	</a>
                </li>
                <li class="">
                	<a href="javascript:;" class="" data-toggle="dropdown" data-hover="dropdown">
						<span aria-hidden="true" class="se7en-star"></span> 客户管理<b class="caret"></b>
                	</a>
                    <ul class="dropdown-menu">
                        <li><a href="../../../index.html" class="">客户</a></li>
                        <li><a href="../../customerManage/linkman/linkMan.html" class="">联系人</a></li>
                        <li><a href="../../customerManage/business/index.html" class="">商机</a></li>
                    </ul>
                </li>
                
                
                 <li class=""><a href="javascript:;" class="" data-toggle="dropdown" data-hover="dropdown"> <span
                        aria-hidden="true" class="se7en-flag"></span> 个人办公<b class="caret"></b>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="view/personalOffice/task/index.jsp" class="">我的任务</a></li>
                        <li><a href="view/personalOffice/dailylog/index.jsp" class="">工作日志</a></li>
                        <li><a href="view/personalOffice/mail/index.jsp" class="">电子邮件</a></li>
                    </ul>
                </li>
                
                <li class=""><a href="javascript:;" class="" data-toggle="dropdown" data-hover="dropdown"> <span
                        aria-hidden="true" class="se7en-forms"></span> 产品管理<b class="caret"></b>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="view/productManage/product/index.jsp" class="">产品</a></li>
                        <li><a href="view/productManage/sales/index.jsp" class="">销售单</a></li>
                        <li><a href="view/productManage/purchase/index.jsp" class="">采购单</a></li>
                        <li><a href="view/productManage/stock/index.jsp" class="">出入库</a></li>
                        <li><a href="view/productManage/stock-detail/index.jsp" class="">库存明细</a></li>
                        <li><a href="view/productManage/product-category/index.jsp" class="">产品类别</a></li>
                        <li><a href="view/productManage/product-warehouse/index.jsp" class="">仓库管理</a></li>
                    </ul>
                </li>
                
                
                <li class="current"><a href="javascript:;" class="current" data-toggle="dropdown" data-hover="dropdown">
                    <span aria-hidden="true" class="se7en-gear"></span> 系统设置<b class="caret"></b>
                	</a>
                    <ul class="dropdown-menu">
                        <li><a href="view/systemSettings/manage/index.html" class="">员工管理</a></li>
                        <li><a href="EmmPositionServlet?method=getAllEmmPosition" class="">职位管理</a></li>
                        <li><a href="MenuServlet?method=getAllMenu" class="">菜单管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--
菜单结束
-->
		<div class="container-fluid main-content">
			<div class="widget-container fluid-height clearfix mwi1200">
				<div class="heading clearfix">
					<i class="icon-reorder"></i> 新建客户 <a href="javascript:;"
						class="pull-right" onclick="history.go(-1);"><i
						class="icon-reply"></i> </a>
				</div>

				<div class="widget-content padded clearfix">
					<form id="w0" class="form-horizontal">
						<input type="hidden" name="_csrf"
							value="WE5pUXNvMmQ6OT86ShZxHAkgWQE.V10vByQYNB8/WzwvGicZASlIUw==">
						<input type="hidden" id="customer-owner_id" class="owner_id"
							name="Customer[owner_id]" value="2"> <input type="hidden"
							id="customer-department_id" class="department_id"
							name="Customer[department_id]" value="1"> <input
							type="hidden" id="customer-position_id" class="position_id"
							name="Customer[position_id]" value="1">

						<div class="form-group field-customer-owner_name">
							

							
							<div class="help-block help-block-error"></div>
						</div>
						
						
						<div class="form-group field-customer-customer_industry required">
							<label class="control-label col-sm-2"
								for="customer-customer_industry">父级</label>

							<div class="col-sm-8">
								<select id="FIELD_ID" class="form-control" name="FIELD_ID">
									<option  value="">顶级节点</option>
										<option value="1">-|系统设置</option>
										<option value="1">-|个人办公</option>
										<option value="1">-|客户管理</option>
										<option value="1">-|产品管理</option>
										<option value="1">-|控制台</option>
								</select>
							</div>
							<div class="help-block help-block-error"></div>
						</div>
						
						
						
						<div class="form-group field-customer-customer_tag required">
							<label class="control-label col-sm-2" for="customer-customer_tag">名称</label>
							<div class="col-sm-8">
								<input id="TAG0" class="form-control" name="TAG" value="" placeholder="系统设置" />
								
							</div>
							<div class="help-block help-block-error"></div>
						</div>
						<div class="form-group field-customer-customer_tag required">
							<label class="control-label col-sm-2" for="customer-customer_tag">地址</label>
							<div class="col-sm-8">
								<input id="TAG1" class="form-control" name="TAG" placeholder="javascript：；" />
							</div>
							<div class="help-block help-block-error"></div>
						</div>
						<div class="form-group field-customer-customer_tag required">
							<label class="control-label col-sm-2" for="customer-customer_tag">图标</label>
							<div class="col-sm-8">
								<input id="TAG2" class="form-control" name="TAG" value="" placeholder="se7en-gear" />
							</div>
							<div class="help-block help-block-error"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"></label>

							<div class="col-lg-10">
								<button type="button" class="btn btn-success"
									onclick="addCustomer(),checkval()">创建</button>
								<button type="button" class="btn btn-default"
									onClick="history.go(-1);">返回</button>
								<input type="hidden" name="reback">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 	负责人模态框 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<input type="hidden" id="referencepositionId" name="referencepositionId">
					<h4 class="modal-title" id="myModalLabel">选择负责人</h4>
				</div>
				<div class="modal-body">
					<table class="table" id="example">
<!-- 							<caption>响应式表格布局</caption> -->
							<thead>
								<tr>
									<th>选择</th>
									<th>姓名</th>
									<th>部门</th>
									<th>职位</th>
								</tr>
							</thead>
							<tbody>
									<tr>
										<td>
											<input type="radio"  name ="radioName" style=" opacity: 1;margin-top: -6px " id="1"/>
											
										</td>
										<td id="1_lg">阿斯钢
										</td>
										<td>打</td>
										<td>安徽的</td>
									</tr>
							</tbody>
						</table>
				</div>
			<div class="modal-footer">
					<button type="button" id="checkPass" class="btn btn-primary"
						onclick="postCheckInfo()()">确认</button>
					<button type="button" id="checkRefuse" class="btn btn-primary"
						onclick="postCheckDocInfo()">取消</button>
				</div>
			</div>
			
		</div>
	</div>

	<script type="text/javascript">
	function selectLinkMan() {
		$("#myModal").modal("show");
	}
	function checkval(){
		var tag0Value = $("#TAG0").val();
		
		var tag1Value = $("#TAG1").val();
		
		var tag2Value = $("#TAG2").val();
		//alert(tagValue)
		if(tag0Value==""||tag1Value==""||tag2Value==""){
			alert("输入框不能为空");
		}else{
			alert("修改完成11");
		}
	}
	function postCheckInfo(){
		var list=document.getElementsByName("radioName");
		for ( var i = 0; i < list.length; i++) {
			if (list[i].checked==true) {
				var id=list[i].id;
				var textName=document.getElementById(id+"_lg").innerText;
				$("#PRINPICAL").val("");
				$("#linkManId").val("");
				$("#PRINPICAL").val(textName);
				$("#linkManId").val(id);
			}
		}
		$("#myModal").modal("hide");
	}
	
	function postCheckDocInfo(){
		$("#myModal").modal("hide");
	}
	
	
		function addCustomer() {
		
		}
	</script>
	
	<script type="text/javascript">

		$.extend($.fn.dataTable.defaults, {
			"searching" : false,
			"ordering" : false
		});
		$('#example').DataTable({
			language : {
				"sProcessing" : "处理中...",
				"sLengthMenu" : "显示 _MENU_ 项结果",
				"sZeroRecords" : "没有匹配结果",
				"sInfo" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
				"sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
				"sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
				"sInfoPostFix" : "",
				"sSearch" : "搜索:",
				"sUrl" : "",
				"sEmptyTable" : "表中数据为空",
				"sLoadingRecords" : "载入中...",
				"sInfoThousands" : ",",
				"oPaginate" : {
					"sFirst" : "首页",
					"sPrevious" : "上页",
					"sNext" : "下页",
					"sLast" : "末页"
				}
			}
		});
	</script>
</body>

</html>
